<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListMaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A6E2C2E1DABCB44006B3E32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6E2C371DABCB44006B3E32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A920D471DABE20B0037CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A920D561DABE2500037CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
